In [42]:
import pandas as pd
import numpy as np
LTV_signup_by_bp_sp_with=pd.read_csv('/Users/agupt0607/Documents/LTV_automation/old_data/LTV_by_Billing_Partner_Signup_Plan/LTV_Billing_Partner_Signup_Plan_with_free_trial-2021-04-01.csv')
LTV_signup_by_bp_sp_with_out=pd.read_csv('/Users/agupt0607/Documents/LTV_automation/old_data/LTV_by_Billing_Partner_Signup_Plan/LTV_Billing_Partner_Signup_Plan_without_free_trial-2021-04-01.csv')

In [43]:
query=""" with AA_LTV_sub as  (
 select * from
 (
Select A1.*,
activation_dt as start_dt,
date_trunc( activation_dt, Month) as Signup_month,
udf.LTV_SIGNUP_PLAN_CALC(signup_plan_cd) as signup_plan,

case when subscription_platform_cd in ('RECURLY','PSP') then 'RECURLY' else subscription_platform_cd end as subscription_platform,

--- clean version of trial period offered
udf.LTV_TRIAL_PERIOD_CALC(signup_plan_cd, signup_trial_period_desc, sku_cd, trial_start_dt, paid_start_dt) as Trial_Period     


 from `i-dss-cdm-data-dev.ent_vw.subscription_fct` A1
where A1.src_system_id=115
and subscription_platform_cd not in ('Apple iOS', 'Apple TV')
and activation_dt<@till_date
-- and lower(signup_plan_cd) not like '%annual%'
)
where Trial_Period NOT in ('1 Month Free','2 Month Free','3 Month Free')
)


, LTV_stg2 as (
select ov.Signup_month,
ov.subscription_platform,
ov.signup_plan,
case when total_starts is null then 0 else total_starts end as total_starts,
Subs_Retained_1 ,
case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 77  MONTH)) then Subs_Retained_2 else 0 end as Subs_Retained_2,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 76  MONTH)) then Subs_Retained_3 else 0 end as Subs_Retained_3,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 75  MONTH)) then Subs_Retained_4 else 0 end as Subs_Retained_4,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 74  MONTH)) then Subs_Retained_5 else 0 end as Subs_Retained_5,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 73  MONTH)) then Subs_Retained_6 else 0 end as Subs_Retained_6,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 72  MONTH)) then Subs_Retained_7 else 0 end as Subs_Retained_7,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 71  MONTH)) then Subs_Retained_8 else 0 end as Subs_Retained_8,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 70  MONTH)) then Subs_Retained_9 else 0 end as Subs_Retained_9,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 69  MONTH)) then Subs_Retained_10 else 0 end as Subs_Retained_10,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 68  MONTH)) then Subs_Retained_11 else 0 end as Subs_Retained_11,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 67  MONTH)) then Subs_Retained_12 else 0 end as Subs_Retained_12,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 66  MONTH)) then Subs_Retained_13 else 0 end as Subs_Retained_13,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 65  MONTH)) then Subs_Retained_14 else 0 end as Subs_Retained_14,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 64  MONTH)) then Subs_Retained_15 else 0 end as Subs_Retained_15,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 63  MONTH)) then Subs_Retained_16 else 0 end as Subs_Retained_16,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 62  MONTH)) then Subs_Retained_17 else 0 end as Subs_Retained_17,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 61  MONTH)) then Subs_Retained_18 else 0 end as Subs_Retained_18,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 60  MONTH)) then Subs_Retained_19 else 0 end as Subs_Retained_19,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 59  MONTH)) then Subs_Retained_20 else 0 end as Subs_Retained_20,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 58  MONTH)) then Subs_Retained_21 else 0 end as Subs_Retained_21,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 57  MONTH)) then Subs_Retained_22 else 0 end as Subs_Retained_22,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 56  MONTH)) then Subs_Retained_23 else 0 end as Subs_Retained_23,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 55  MONTH)) then Subs_Retained_24 else 0 end as Subs_Retained_24,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 54  MONTH)) then Subs_Retained_25 else 0 end as Subs_Retained_25,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 53  MONTH)) then Subs_Retained_26 else 0 end as Subs_Retained_26,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 52  MONTH)) then Subs_Retained_27 else 0 end as Subs_Retained_27,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 51  MONTH)) then Subs_Retained_28 else 0 end as Subs_Retained_28,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 50  MONTH)) then Subs_Retained_29 else 0 end as Subs_Retained_29,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 49  MONTH)) then Subs_Retained_30 else 0 end as Subs_Retained_30,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 48  MONTH)) then Subs_Retained_31 else 0 end as Subs_Retained_31,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 47  MONTH)) then Subs_Retained_32 else 0 end as Subs_Retained_32,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 46  MONTH)) then Subs_Retained_33 else 0 end as Subs_Retained_33,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 45  MONTH)) then Subs_Retained_34 else 0 end as Subs_Retained_34,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 44  MONTH)) then Subs_Retained_35 else 0 end as Subs_Retained_35,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 43  MONTH)) then Subs_Retained_36 else 0 end as Subs_Retained_36,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 42  MONTH)) then Subs_Retained_37 else 0 end as Subs_Retained_37,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 41  MONTH)) then Subs_Retained_38 else 0 end as Subs_Retained_38,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 40  MONTH)) then Subs_Retained_39 else 0 end as Subs_Retained_39,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 39  MONTH)) then Subs_Retained_40 else 0 end as Subs_Retained_40,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 38  MONTH)) then Subs_Retained_41 else 0 end as Subs_Retained_41,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 37  MONTH)) then Subs_Retained_42 else 0 end as Subs_Retained_42,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 36  MONTH)) then Subs_Retained_43 else 0 end as Subs_Retained_43,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 35  MONTH)) then Subs_Retained_44 else 0 end as Subs_Retained_44,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 34  MONTH)) then Subs_Retained_45 else 0 end as Subs_Retained_45,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 33  MONTH)) then Subs_Retained_46 else 0 end as Subs_Retained_46,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 32  MONTH)) then Subs_Retained_47 else 0 end as Subs_Retained_47,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 31  MONTH)) then Subs_Retained_48 else 0 end as Subs_Retained_48,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 30  MONTH)) then Subs_Retained_49 else 0 end as Subs_Retained_49,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 29  MONTH)) then Subs_Retained_50 else 0 end as Subs_Retained_50,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 28  MONTH)) then Subs_Retained_51 else 0 end as Subs_Retained_51,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 27  MONTH)) then Subs_Retained_52 else 0 end as Subs_Retained_52,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 26  MONTH)) then Subs_Retained_53 else 0 end as Subs_Retained_53,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 25  MONTH)) then Subs_Retained_54 else 0 end as Subs_Retained_54,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 24  MONTH)) then Subs_Retained_55 else 0 end as Subs_Retained_55,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 23  MONTH)) then Subs_Retained_56 else 0 end as Subs_Retained_56,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 22  MONTH)) then Subs_Retained_57 else 0 end as Subs_Retained_57,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 21  MONTH)) then Subs_Retained_58 else 0 end as Subs_Retained_58,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 20  MONTH)) then Subs_Retained_59 else 0 end as Subs_Retained_59,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 19  MONTH)) then Subs_Retained_60 else 0 end as Subs_Retained_60,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 18  MONTH)) then Subs_Retained_61 else 0 end as Subs_Retained_61,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 17  MONTH)) then Subs_Retained_62 else 0 end as Subs_Retained_62,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 16  MONTH)) then Subs_Retained_63 else 0 end as Subs_Retained_63,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 15  MONTH)) then Subs_Retained_64 else 0 end as Subs_Retained_64,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 14  MONTH)) then Subs_Retained_65 else 0 end as Subs_Retained_65,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 13  MONTH)) then Subs_Retained_66 else 0 end as Subs_Retained_66,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 12  MONTH)) then Subs_Retained_67 else 0 end as Subs_Retained_67,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 11  MONTH)) then Subs_Retained_68 else 0 end as Subs_Retained_68,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 10  MONTH)) then Subs_Retained_69 else 0 end as Subs_Retained_69,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 9  MONTH)) then Subs_Retained_70 else 0 end as Subs_Retained_70,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 8  MONTH)) then Subs_Retained_71 else 0 end as Subs_Retained_71,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 7  MONTH)) then Subs_Retained_72 else 0 end as Subs_Retained_72,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 6  MONTH)) then Subs_Retained_73 else 0 end as Subs_Retained_73,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 5  MONTH)) then Subs_Retained_74 else 0 end as Subs_Retained_74,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 4  MONTH)) then Subs_Retained_75 else 0 end as Subs_Retained_75,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL 3  MONTH)) then Subs_Retained_76 else 0 end as Subs_Retained_76,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL  2   MONTH)) then Subs_Retained_77 else 0 end as Subs_Retained_77,
    case when ov.Signup_month< (SELECT DATE_ADD(@start_date, INTERVAL  1   MONTH)) then Subs_Retained_78 else 0 end as Subs_Retained_78,
    case when ov.Signup_month<@start_date then Subs_Retained_79 else 0 end as Subs_Retained_79


from
(

select * from
 (

 Select t.*,running_sum as Cum_cancels ,
 begin_paid_subs as starting_paid_subs
 from

  (
 select Signup_month,
subscription_platform,
signup_plan,
 subsequent_month
 from
       (
       select distinct t.Signup_month,subscription_platform,signup_plan from (select r.* from AA_LTV_sub r)  dt
       cross join
	   (select DATE_TRUNC(day_dt,MONTH) as Signup_month from `i-dss-cdm-data-dev.dw_vw.days` where day_dt between @start_date and @end_date) t -- Change the date range here

      )
      cross join
      (
      select s.* from
      (select row_number() over (order by day_dt) subsequent_month from `i-dss-cdm-data-dev.dw_vw.days`) s where subsequent_month <=  (SELECT DATE_DIFF(@end_date,@start_date,MONTH)+2)) sb -- change the subsequent months
      ) t

      left join (
	  select Signup_Month,
    subscription_platform,
    signup_plan,
            subsequent_month as mn,
            SUM (cancels) OVER (PARTITION BY  Signup_month,subscription_platform,signup_plan ORDER BY subsequent_month) AS running_sum
            from (
             select Signup_month,
             subscription_platform,
             signup_plan,
			 case when (Days_actv/30)<=1 then 1 else CEILING(Days_actv/30) end as subsequent_month,
			 sum(users) as cancels
			 from (
             select Signup_month,
             subscription_platform,
             signup_plan,
			 Days_actv,
			 count(distinct subscription_guid ) as users
			 from
                               (
                               select t.*,
                               DATE_DIFF(cast(case when expiration_dt is null OR expiration_dt>=@till_date then @till_date else expiration_dt end as date), cast( start_dt as Date),DAY) +1 as Days_actv
							   from AA_LTV_sub t

                               ) a1
                               where cast(expiration_dt as date)<=@till_date
                               group by Signup_month, subscription_platform,signup_plan,
                               Days_actv) a2
            group by Signup_month,subscription_platform,signup_plan,
            case when (Days_actv/30)<=1 then 1
       else CEILING(Days_actv/30) end
       ) a3
       ) can
       on (t.Signup_month=can.Signup_month
       and t.subsequent_month=can.mn
       and t.subscription_platform=can.subscription_platform
       and t.signup_plan=can.signup_plan)
        left join (
       select Signup_month,
       subscription_platform,signup_plan,
       count(distinct subscription_guid) as begin_paid_subs
                               from
                               (
                               select t.*,
                               DATE_DIFF(cast(case when expiration_dt is null OR expiration_dt>=@till_date then @till_date else expiration_dt end as date), cast( start_dt as Date),DAY) +1 as Days_actv
							   from AA_LTV_sub t

                               ) a1
                               group by Signup_month    ,subscription_platform   ,signup_plan
                               ) a4
                               on (t.Signup_month=a4.Signup_month
                               and t.subscription_platform=a4.subscription_platform
                               and t.signup_plan=a4.signup_plan)
       ) a5
        PIVOT(SUM(starting_paid_subs-Cum_cancels) as subs_retained FOR subsequent_month in
        (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
        21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,
        39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,
        57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,
        75,76,77,78,79))
       --) a6
       --group by Signup_month,subscription_platform,signup_plan
) ov
left join (
       select Signup_month,
       subscription_platform,
       signup_plan,
       count(distinct subscription_guid ) as total_starts
                               from
                               (
                               select t.*,
                               DATE_DIFF(cast(case when expiration_dt is null OR expiration_dt>=@till_date then @till_date else expiration_dt end as date), cast( start_dt as Date),DAY) +1 as Days_actv
							   from AA_LTV_sub t

                               ) a1
                               group by Signup_month,subscription_platform ,signup_plan
                               ) strt
                               on (ov.Signup_month=strt.Signup_month
                               and ov.subscription_platform=strt.subscription_platform
                               and ov.signup_plan=strt.signup_plan)
order by 2,1

)

-- select * from LTV_stg2
, LTV_stg3 as (
select Signup_month,subscription_platform,
signup_plan,
total_starts,
coalesce((lag(total_starts,1)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l1,
coalesce((lag(total_starts,2)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l2,
    coalesce((lag(total_starts,3)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l3,
    coalesce((lag(total_starts,4)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l4,
    coalesce((lag(total_starts,5)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l5,
    coalesce((lag(total_starts,6)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l6,
    coalesce((lag(total_starts,7)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l7,
    coalesce((lag(total_starts,8)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l8,
    coalesce((lag(total_starts,9)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l9,
    coalesce((lag(total_starts,10)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l10,
    coalesce((lag(total_starts,11)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l11,
    coalesce((lag(total_starts,12)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l12,
    coalesce((lag(total_starts,13)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l13,
    coalesce((lag(total_starts,14)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l14,
    coalesce((lag(total_starts,15)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l15,
    coalesce((lag(total_starts,16)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l16,
    coalesce((lag(total_starts,17)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l17,
    coalesce((lag(total_starts,18)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l18,
    coalesce((lag(total_starts,19)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l19,
    coalesce((lag(total_starts,20)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l20,
    coalesce((lag(total_starts,21)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l21,
    coalesce((lag(total_starts,22)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l22,
    coalesce((lag(total_starts,23)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l23,
    coalesce((lag(total_starts,24)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l24,
    coalesce((lag(total_starts,25)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l25,
    coalesce((lag(total_starts,26)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l26,
    coalesce((lag(total_starts,27)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l27,
    coalesce((lag(total_starts,28)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l28,
    coalesce((lag(total_starts,29)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l29,
    coalesce((lag(total_starts,30)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l30,
    coalesce((lag(total_starts,31)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l31,
    coalesce((lag(total_starts,32)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l32,
    coalesce((lag(total_starts,33)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l33,
    coalesce((lag(total_starts,34)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l34,
    coalesce((lag(total_starts,35)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l35,
    coalesce((lag(total_starts,36)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l36,
    coalesce((lag(total_starts,37)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l37,
    coalesce((lag(total_starts,38)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l38,
    coalesce((lag(total_starts,39)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l39,
    coalesce((lag(total_starts,40)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l40,
    coalesce((lag(total_starts,41)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l41,
    coalesce((lag(total_starts,42)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l42,
    coalesce((lag(total_starts,43)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l43,
    coalesce((lag(total_starts,44)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l44,
    coalesce((lag(total_starts,45)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l45,
    coalesce((lag(total_starts,46)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l46,
    coalesce((lag(total_starts,47)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l47,
    coalesce((lag(total_starts,48)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l48,
    coalesce((lag(total_starts,49)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l49,
    coalesce((lag(total_starts,50)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l50,
    coalesce((lag(total_starts,51)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l51,
    coalesce((lag(total_starts,52)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l52,
    coalesce((lag(total_starts,53)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l53,
        coalesce((lag(total_starts,54)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l54,
        coalesce((lag(total_starts,55)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l55,
        coalesce((lag(total_starts,56)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l56,
        coalesce((lag(total_starts,57)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l57,
        coalesce((lag(total_starts,58)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l58,
        coalesce((lag(total_starts,59)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l59,
        coalesce((lag(total_starts,60)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l60,
        coalesce((lag(total_starts,61)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l61,
        coalesce((lag(total_starts,62)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l62,
        coalesce((lag(total_starts,63)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l63,
        coalesce((lag(total_starts,64)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l64,
        coalesce((lag(total_starts,65)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l65,
        coalesce((lag(total_starts,66)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l66,

        coalesce((lag(total_starts,67)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l67,

        coalesce((lag(total_starts,68)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l68,

        coalesce((lag(total_starts,69)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l69,

       coalesce((lag(total_starts,70)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l70,

       coalesce((lag(total_starts,71)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l71,

       coalesce((lag(total_starts,72)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l72,

       coalesce((lag(total_starts,73)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l73,

                       coalesce((lag(total_starts,74)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l74,
                    coalesce((lag(total_starts,75)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l75,
                    coalesce((lag(total_starts,76)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l76,
                    coalesce((lag(total_starts,77)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l77,
                    coalesce((lag(total_starts,78)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l78,
                    coalesce((lag(total_starts,79)
    OVER (PARTITION BY subscription_platform,signup_plan ORDER BY Signup_month ASC)),0) AS total_starts_l79,

     from LTV_stg2
     order by 2,1
),

stagex as (
select
subscription_platform,
signup_plan,
sum( Subs_Retained_1) as  Subs_Retained_1,
sum( Subs_Retained_2) as  Subs_Retained_2,
sum( Subs_Retained_3) as  Subs_Retained_3,
sum( Subs_Retained_4) as  Subs_Retained_4,
sum( Subs_Retained_5) as  Subs_Retained_5,
sum( Subs_Retained_6) as  Subs_Retained_6,
sum( Subs_Retained_7) as  Subs_Retained_7,
sum( Subs_Retained_8) as  Subs_Retained_8,
sum( Subs_Retained_9) as  Subs_Retained_9,
sum( Subs_Retained_10) as  Subs_Retained_10,
sum( Subs_Retained_11) as  Subs_Retained_11,
sum( Subs_Retained_12) as  Subs_Retained_12,

sum( Subs_Retained_13) as  Subs_Retained_13,
sum( Subs_Retained_14) as  Subs_Retained_14,
sum( Subs_Retained_15) as  Subs_Retained_15,
sum( Subs_Retained_16) as  Subs_Retained_16,
sum( Subs_Retained_17) as  Subs_Retained_17,
sum( Subs_Retained_18) as  Subs_Retained_18,
sum( Subs_Retained_19) as  Subs_Retained_19,
sum( Subs_Retained_20) as  Subs_Retained_20,
sum( Subs_Retained_21) as  Subs_Retained_21,
sum( Subs_Retained_22) as  Subs_Retained_22,
sum( Subs_Retained_23) as  Subs_Retained_23,
sum( Subs_Retained_24) as  Subs_Retained_24,
sum( Subs_Retained_25) as  Subs_Retained_25,
sum( Subs_Retained_26) as  Subs_Retained_26,
sum( Subs_Retained_27) as  Subs_Retained_27,
sum( Subs_Retained_28) as  Subs_Retained_28,
sum( Subs_Retained_29) as  Subs_Retained_29,
sum( Subs_Retained_30) as  Subs_Retained_30,
sum( Subs_Retained_31) as  Subs_Retained_31,
sum( Subs_Retained_32) as  Subs_Retained_32,
sum( Subs_Retained_33) as  Subs_Retained_33,
sum( Subs_Retained_34) as  Subs_Retained_34,
sum( Subs_Retained_35) as  Subs_Retained_35,
sum( Subs_Retained_36) as  Subs_Retained_36,
sum( Subs_Retained_37) as  Subs_Retained_37,
sum( Subs_Retained_38) as  Subs_Retained_38,
sum( Subs_Retained_39) as  Subs_Retained_39,
sum( Subs_Retained_40) as  Subs_Retained_40,
sum( Subs_Retained_41) as  Subs_Retained_41,
sum( Subs_Retained_42) as  Subs_Retained_42,
sum( Subs_Retained_43) as  Subs_Retained_43,
sum( Subs_Retained_44) as  Subs_Retained_44,
sum( Subs_Retained_45) as  Subs_Retained_45,
sum( Subs_Retained_46) as  Subs_Retained_46,
sum( Subs_Retained_47) as  Subs_Retained_47,
sum( Subs_Retained_48) as  Subs_Retained_48,
sum( Subs_Retained_49) as  Subs_Retained_49,
sum( Subs_Retained_50) as  Subs_Retained_50,
sum( Subs_Retained_51) as  Subs_Retained_51,
sum( Subs_Retained_52) as  Subs_Retained_52,
sum( Subs_Retained_53) as  Subs_Retained_53,
sum( Subs_Retained_54) as  Subs_Retained_54,
sum( Subs_Retained_55) as  Subs_Retained_55,
sum( Subs_Retained_56) as  Subs_Retained_56,
sum( Subs_Retained_57) as  Subs_Retained_57,
sum( Subs_Retained_58) as  Subs_Retained_58,
sum( Subs_Retained_59) as  Subs_Retained_59,
sum( Subs_Retained_60) as  Subs_Retained_60,
sum( Subs_Retained_61) as  Subs_Retained_61,
sum( Subs_Retained_62) as  Subs_Retained_62,
sum( Subs_Retained_63) as  Subs_Retained_63,
sum( Subs_Retained_64) as  Subs_Retained_64,
sum( Subs_Retained_65) as  Subs_Retained_65,
sum( Subs_Retained_66) as  Subs_Retained_66,
sum( Subs_Retained_67) as  Subs_Retained_67,
sum( Subs_Retained_68) as  Subs_Retained_68,
sum( Subs_Retained_69) as  Subs_Retained_69,
sum( Subs_Retained_70) as  Subs_Retained_70,
sum( Subs_Retained_71) as  Subs_Retained_71,
sum( Subs_Retained_72) as  Subs_Retained_72,
sum( Subs_Retained_73) as  Subs_Retained_73 ,
sum( Subs_Retained_74) as  Subs_Retained_74,
sum( Subs_Retained_75) as  Subs_Retained_75,
sum( Subs_Retained_76) as  Subs_Retained_76,
sum( Subs_Retained_77) as  Subs_Retained_77,
sum( Subs_Retained_78) as  Subs_Retained_78,
sum( Subs_Retained_79) as  Subs_Retained_79

from LTV_stg2
group by 1,2
UNION ALL

select
--CONCAT(subscription_platform,' - Total Starts'),
subscription_platform,
signup_plan,
sum( total_starts) as  total_starts,
sum( total_starts_l1) as  total_starts_l1,
sum( total_starts_l2) as  total_starts_l2,
sum( total_starts_l3) as  total_starts_l3,
sum( total_starts_l4) as  total_starts_l4,
sum( total_starts_l5) as  total_starts_l5,
sum( total_starts_l6) as  total_starts_l6,
sum( total_starts_l7) as  total_starts_l7,
sum( total_starts_l8) as  total_starts_l8,
sum( total_starts_l9) as  total_starts_l9,
sum( total_starts_l10) as  total_starts_l10,
sum( total_starts_l11) as  total_starts_l11,

sum( total_starts_l12) as  total_starts_l12,
sum( total_starts_l13) as  total_starts_l13,
sum( total_starts_l14) as  total_starts_l14,
sum( total_starts_l15) as  total_starts_l15,
sum( total_starts_l16) as  total_starts_l16,
sum( total_starts_l17) as  total_starts_l17,
sum( total_starts_l18) as  total_starts_l18,
sum( total_starts_l19) as  total_starts_l19,
sum( total_starts_l20) as  total_starts_l20,
sum( total_starts_l21) as  total_starts_l21,
sum( total_starts_l22) as  total_starts_l22,
sum( total_starts_l23) as  total_starts_l23,
sum( total_starts_l24) as  total_starts_l24,
sum( total_starts_l25) as  total_starts_l25,
sum( total_starts_l26) as  total_starts_l26,
sum( total_starts_l27) as  total_starts_l27,
sum( total_starts_l28) as  total_starts_l28,
sum( total_starts_l29) as  total_starts_l29,
sum( total_starts_l30) as  total_starts_l30,
sum( total_starts_l31) as  total_starts_l31,
sum( total_starts_l32) as  total_starts_l32,
sum( total_starts_l33) as  total_starts_l33,
sum( total_starts_l34) as  total_starts_l34,
sum( total_starts_l35) as  total_starts_l35,
sum( total_starts_l36) as  total_starts_l36,
sum( total_starts_l37) as  total_starts_l37,
sum( total_starts_l38) as  total_starts_l38,
sum( total_starts_l39) as  total_starts_l39,
sum( total_starts_l40) as  total_starts_l40,
sum( total_starts_l41) as  total_starts_l41,
sum( total_starts_l42) as  total_starts_l42,
sum( total_starts_l43) as  total_starts_l43,
sum( total_starts_l44) as  total_starts_l44,
sum( total_starts_l45) as  total_starts_l45,
sum( total_starts_l46) as  total_starts_l46,
sum( total_starts_l47) as  total_starts_l47,
sum( total_starts_l48) as  total_starts_l48,
sum( total_starts_l49) as  total_starts_l49,
sum( total_starts_l50) as  total_starts_l50,
sum( total_starts_l51) as  total_starts_l51,
sum( total_starts_l52) as  total_starts_l52,
sum( total_starts_l53) as  total_starts_l53,
sum( total_starts_l54) as  total_starts_l54,
sum( total_starts_l55) as  total_starts_l55,
sum( total_starts_l56) as  total_starts_l56,
sum( total_starts_l57) as  total_starts_l57,
sum( total_starts_l58) as  total_starts_l58,
sum( total_starts_l59) as  total_starts_l59,
sum( total_starts_l60) as  total_starts_l60,
sum( total_starts_l61) as  total_starts_l61,
sum( total_starts_l62) as  total_starts_l62,
sum( total_starts_l63) as  total_starts_l63,
sum( total_starts_l64) as  total_starts_l64,
sum( total_starts_l65) as  total_starts_l65,
sum( total_starts_l66) as  total_starts_l66,
sum( total_starts_l67) as  total_starts_l67,
sum( total_starts_l68) as  total_starts_l68,
sum( total_starts_l69) as  total_starts_l69,
sum( total_starts_l70) as  total_starts_l70,
sum( total_starts_l71) as  total_starts_l71,
sum( total_starts_l72) as  total_starts_l72,
sum( total_starts_l73) as  total_starts_l73,
sum( total_starts_l74) as  total_starts_l74,
sum( total_starts_l75) as  total_starts_l75,
sum( total_starts_l76) as  total_starts_l76,
sum( total_starts_l77) as  total_starts_l77,
sum( total_starts_l78) as  total_starts_l78


from LTV_stg3
group by 1,2
order by 1,2,3
)

select * from stagex
where lower(signup_plan) not like '%annual%'"""

In [44]:
def get_data_without_free_trial_bpsp(client,till_date='2021-04-01', start_date='2014-10-01', end_date='2021-3-01'):
    sql = query
    job_config = bigquery.QueryJobConfig(
        query_parameters=[
            bigquery.ScalarQueryParameter("till_date", "DATE", till_date),
            bigquery.ScalarQueryParameter("start_date", "DATE", start_date),
            bigquery.ScalarQueryParameter("end_date", "DATE", end_date)
        ]
    )
    df = client.query(sql, job_config=job_config).to_dataframe()
    return df

def get_data_with_free_trial_bpsp(client,till_date='2021-04-01', start_date='2014-10-01', end_date='2021-3-01'):
    sql =billing_partner_signup_plan_with_free_trial()
    job_config = bigquery.QueryJobConfig(
        query_parameters=[
            bigquery.ScalarQueryParameter("till_date", "DATE", till_date),
            bigquery.ScalarQueryParameter("start_date", "DATE", start_date),
            bigquery.ScalarQueryParameter("end_date", "DATE", end_date)
        ]
    )
    df = client.query(sql, job_config=job_config).to_dataframe()
    return df

def combine_overall_Starts(LTV_with_out, LTV_with):
    df = LTV_with_out.copy(deep=True)
    i = 1
    j = 0
    for j in range(0, 9):
        for i in range(1, 79):
            df['Subs_Retained_' + str(i)][j] = LTV_with_out['Subs_Retained_' + str(i)][j] + \
                                              LTV_with['Subs_Retained_' + str(i + 1)][j]
    for i in df.index:
        if i%2!=0:
            df['subscription_platform'][i]=df['subscription_platform'][i]+'- Total Starts'
    df_LC= df[df['signup_plan'].str.contains('LC')].reset_index(drop=True)
    df_CF= df[df['signup_plan'].str.contains('CF')].reset_index(drop=True)
    return df_LC,df_CF

def calc_weighted_avg_retention_rate(df, bill_part):
    weighted_avg_retention_Rate = []
    temp_df = df[df['subscription_platform'].str.contains(bill_part)].reset_index(drop=True)
    if bill_part=='AMAZON':
        for i in range(1, 53):
            if (temp_df['Subs_Retained_' + str(i)][0] != 0 and temp_df['Subs_Retained_' + str(i)][1] != 0):
                weighted_avg_retention_Rate.append(round(temp_df['Subs_Retained_' + str(i)][0] / temp_df['Subs_Retained_' + str(i)][1] * 100, 2))
            else:
                weighted_avg_retention_Rate.append(0)
        return weighted_avg_retention_Rate;
    else:
        for i in range(1, 67):
            if (temp_df['Subs_Retained_' + str(i)][0] != 0 and temp_df['Subs_Retained_' + str(i)][1] != 0):
                weighted_avg_retention_Rate.append(round(temp_df['Subs_Retained_' + str(i)][0] / temp_df['Subs_Retained_' + str(i)][1] * 100, 2))
            else:
                weighted_avg_retention_Rate.append(0)
        return weighted_avg_retention_Rate;
    
def calc_retained_from_previous_month(df, bill_part):
    calc_wt_avg_ret_rt = calc_weighted_avg_retention_rate(df, bill_part)
    retained_from_previous_month = []
      
    if bill_part=='AMAZON':
          for i in range(0, 51):
            if (calc_wt_avg_ret_rt[i + 1]!=0 and calc_wt_avg_ret_rt[i]!=0 and calc_wt_avg_ret_rt[i + 1] / calc_wt_avg_ret_rt[i] < 1):
                retained_from_previous_month.append(round(calc_wt_avg_ret_rt[i + 1] / calc_wt_avg_ret_rt[i] * 100, 2))

            elif (calc_wt_avg_ret_rt[i + 1]!=0 and calc_wt_avg_ret_rt[i] and calc_wt_avg_ret_rt[i + 1] / calc_wt_avg_ret_rt[i] >= 1):
                if i!=0:
                    retained_from_previous_month.append(retained_from_previous_month[i - 1])
                else:
                    retained_from_previous_month.append(0)
            else:
                retained_from_previous_month.append(0)
    else:
        for i in range(0, 65):
            if (calc_wt_avg_ret_rt[i + 1]!=0 and calc_wt_avg_ret_rt[i]!=0 and calc_wt_avg_ret_rt[i + 1] / calc_wt_avg_ret_rt[i] < 1):
                retained_from_previous_month.append(round(calc_wt_avg_ret_rt[i + 1] / calc_wt_avg_ret_rt[i] * 100, 2))

            elif (calc_wt_avg_ret_rt[i + 1]!=0 and calc_wt_avg_ret_rt[i] and calc_wt_avg_ret_rt[i + 1] / calc_wt_avg_ret_rt[i] >= 1):
                if i!=0:
                    retained_from_previous_month.append(retained_from_previous_month[i - 1])
                else:
                    retained_from_previous_month.append(0)
            else:
                retained_from_previous_month.append(0)
            
    return retained_from_previous_month

def calc_avg_retain_first_12_month(df, bill_part):
    ret_pre_month = calc_retained_from_previous_month(df, bill_part)
    return round(np.average(ret_pre_month[0:12]), 2)

def calc_projected_retenion_month(df, bill_part):
    projected_retenion_month = []
    wt_avg_ret_rt = calc_weighted_avg_retention_rate(df, bill_part)
    avg_ret_12_mths = calc_avg_retain_first_12_month(df, bill_part)
    
    if bill_part=='AMAZON':
        for i in range(0, 52):
            if  wt_avg_ret_rt[i] == 0:
                projected_retenion_month.append(projected_retenion_month[i - 1] * avg_ret_12_mths)
            elif i == 0 and wt_avg_ret_rt[i] == 0:  # added an extra check seems broken in excel
                projected_retenion_month.append(avg_ret_12_mths)
            else:
                projected_retenion_month.append(wt_avg_ret_rt[i])
        for i in range(52,60):
            projected_retenion_month.append(round(projected_retenion_month[i-1]*(avg_ret_12_mths/100),2))
    else:         
        for i in range(0, 60):
            if  wt_avg_ret_rt[i] == 0:
                projected_retenion_month.append(projected_retenion_month[i - 1] * avg_ret_12_mths/100)
            elif i == 0 and wt_avg_ret_rt[i] == 0:  # added an extra check seems broken in excel
                projected_retenion_month.append(avg_ret_12_mths)
            else:
                projected_retenion_month.append(wt_avg_ret_rt[i])
    return projected_retenion_month

def calc_conf_rev_CF(bill_part):
    config_df=pd.read_csv("/Users/agupt0607/Documents/LTV_automation/config/gross_margin-2021-04-01.csv")
    GM = float(config_df[config_df['bill_part'].str.contains(bill_part)]['Gross Margin'].reset_index(drop=True)[0][0:2])/100
    return round(GM*9.99,2)

def calc_conf_rev_LC(bill_part):
    config_df=pd.read_csv("/Users/agupt0607/Documents/LTV_automation/config/gross_margin-2021-04-01.csv")
    GM = float(config_df[config_df['bill_part'].str.contains(bill_part)]['Gross Margin'].reset_index(drop=True)[0][0:2])/100
    return round(GM*5.99,2)


def calc_conf_w_ad_rev_LC(bill_part):
    avg_ad_rev_per_LC_subs_per_month=1.95
    config_df=pd.read_csv("/Users/agupt0607/Documents/LTV_automation/config/gross_margin-2021-04-01.csv")
    LC_subs = float(config_df[config_df['bill_part'].str.contains(bill_part)]['% of LC subs'].reset_index(drop=True)[0][0:5])/100
    return round(LC_subs*avg_ad_rev_per_LC_subs_per_month,2)

def calc_exp_dur_subs_mnths_LTV_w_wo_revenue_CF(df,bill_part, given_inp=False):
    projected_retenion_month = calc_projected_retenion_month(df, bill_part)
    duration = 0
    if given_inp == True:
        print('options 3M, 6M, 9M, 1Y, 2Y, 3Y, 4Y, 5Y, ALL')
        duration = input('Enter the Duration from above options')

    if duration == '3M':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:3]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:3]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '6M':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:6]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:6]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '9M':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:9]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:9]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '1Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:12]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:12]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '2Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:24]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:24]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '3Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:36]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:36]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '4Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:48]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:48]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '5Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:60]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:60]) / 100) * calc_conf_rev_CF(bill_part), 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == 'ALL' or duration == 0:
        exp_dur_subs_mnths = []
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:3]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:6]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:9]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:12]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:24]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:36]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:48]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:60]) / 100, 1))
        LTV_wo_ad_Rev = []
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:3]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:6]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:9]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:12]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:24]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:36]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:48]) / 100) * calc_conf_rev_CF(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:60]) / 100) * calc_conf_rev_CF(bill_part), 2))
        return exp_dur_subs_mnths, LTV_wo_ad_Rev

    else:
        print("Please select appropiate option")
        return calc_exp_dur_subs_mnths_LTV_w_wo_revenue(df, month)
    
def calc_exp_dur_subs_mnths_LTV_w_wo_revenue_LC(df,bill_part, given_inp=False):
    projected_retenion_month = calc_projected_retenion_month(df, bill_part)
    duration = 0
    if given_inp == True:
        print('options 3M, 6M, 9M, 1Y, 2Y, 3Y, 4Y, 5Y, ALL')
        duration = input('Enter the Duration from above options')

    if duration == '3M':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:3]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:3]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev + (sum(projected_retenion_month[0:3]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '6M':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:6]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:6]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev + (sum(projected_retenion_month[0:6]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '9M':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:9]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:9]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev + (sum(projected_retenion_month[0:9]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '1Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:12]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:12]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev[3] + (sum(projected_retenion_month[0:12]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '2Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:24]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:24]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev[4] + (sum(projected_retenion_month[0:24]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '3Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:36]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:36]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev[5] + (sum(projected_retenion_month[0:36]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '4Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:48]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:48]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev[6] + (sum(projected_retenion_month[0:48]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == '5Y':
        exp_dur_subs_mnths = round(sum(projected_retenion_month[0:60]) / 100, 1)
        LTV_wo_ad_Rev = round((sum(projected_retenion_month[0:60]) / 100) * calc_conf_rev_LC(bill_part), 2)
        LTV_w_ad_Rev = round(LTV_wo_ad_Rev[7] + (sum(projected_retenion_month[0:60]) / 100) * 1.95, 2)
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    elif duration == 'ALL' or duration == 0:
        exp_dur_subs_mnths = []
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:3]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:6]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:9]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:12]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:24]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:36]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:48]) / 100, 1))
        exp_dur_subs_mnths.append(round(sum(projected_retenion_month[0:60]) / 100, 1))
        LTV_wo_ad_Rev = []
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:3]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:6]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:9]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:12]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:24]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:36]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:48]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_wo_ad_Rev.append(round((sum(projected_retenion_month[0:60]) / 100) * calc_conf_rev_LC(bill_part), 2))
        LTV_w_ad_Rev = []
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[0] + (sum(projected_retenion_month[0:3]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[1] + (sum(projected_retenion_month[0:6]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[2] + (sum(projected_retenion_month[0:9]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[3] + (sum(projected_retenion_month[0:12]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[4] + (sum(projected_retenion_month[0:24]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[5] + (sum(projected_retenion_month[0:36]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[6] + (sum(projected_retenion_month[0:48]) / 100) * 1.95, 2))
        LTV_w_ad_Rev.append(round(LTV_wo_ad_Rev[7] + (sum(projected_retenion_month[0:60]) / 100) * 1.95, 2))
        return exp_dur_subs_mnths, LTV_wo_ad_Rev, LTV_w_ad_Rev

    else:
        print("Please select appropiate option")
        return calc_exp_dur_subs_mnths_LTV_w_wo_revenue(df, month)

def final_output(df,plan_cd):
    output = pd.DataFrame()
    bill_part=['AMAZON','GOOGLE','RECURLY','ROKU','OVERALL']
    if plan_cd=='CF':
        for i in range(0,5):
            mnths, ltv_wo_ad = calc_exp_dur_subs_mnths_LTV_w_wo_revenue_CF(df, bill_part[i])
            temp = {"billing_partner":bill_part[i] ,"plan_type":plan_cd, "year_1_amt": ltv_wo_ad[3], "year_3_amt": ltv_wo_ad[5], "year_5_amt": ltv_wo_ad[7]}
            output = output.append(temp, ignore_index=True)
    if plan_cd=='LC':
        for i in range(0,5):
            mnths, ltv_wo_ad, ltv_w_ad = calc_exp_dur_subs_mnths_LTV_w_wo_revenue_LC(df, bill_part[i])
            temp = {"billing_partner":bill_part[i] ,"plan_type":plan_cd, "year_1_amt": ltv_w_ad[3], "year_3_amt": ltv_w_ad[5], "year_5_amt": ltv_w_ad[7]}
            output = output.append(temp, ignore_index=True)
        
#     cols = output.columns.tolist()
#     cols = cols[-1:] + cols[:-1]
#     output = output[cols]
    return output.round()

def add_overall(df,plan_cd):
    filter_df=df[df['signup_plan'].str.startswith(plan_cd) & (df['subscription_platform'].str.endswith('AMAZON') | df['subscription_platform'].str.endswith('GOOGLE') | df['subscription_platform'].str.endswith('RECURLY') | df['subscription_platform'].str.endswith('ROKU') )]
    filter_df=filter_df.drop('signup_plan', axis=1)
    total = filter_df.apply(np.sum)
    total['subscription_platform'] = 'OVERALL'
    filter_df=filter_df.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

    total_starts_df=df[df['subscription_platform'].str.endswith('Total Starts') & ~df['subscription_platform'].str.endswith('SHOWTIME- Total Starts')]
    total_starts_df=total_starts_df.drop('signup_plan', axis=1)
    total_starts_df = total_starts_df[total_starts_df.subscription_platform != 'SHOWTIME - Total Starts']
    total = total_starts_df.apply(np.sum)
    total['subscription_platform'] = 'OVERALL - Total Starts'
    total_starts_df=total_starts_df.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

#     showtime_df=df[df['subscription_platform'].str.startswith('SHOWTIME') ]
#     showtime_df=showtime_df.drop('signup_plan', axis=1)
    
    new_df=pd.concat([filter_df, total_starts_df]).reset_index(drop=True)
    
    return new_df

def add_quarter_date(temp,till_date):
    temp['day_dt'] = till_date
    cols = temp.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    output = temp[cols]
    return output

def add_current_date(temp):
    from datetime import date
    today = date.today()
    temp['dw_create_dt'] = pd.to_datetime(date.today())
    return temp

In [27]:
df_LC,df_CF=combine_overall_Starts(LTV_signup_by_bp_sp_with_out,LTV_signup_by_bp_sp_with)
df_LC_new=add_overall(df_LC,'LC')
df_CF_new=add_overall(df_CF,'CF')

/Users/agupt0607/miniconda3/envs/env/lib/python3.5/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/agupt0607/miniconda3/envs/env/lib/python3.5/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [28]:
df_LC_new=add_overall(df_LC,'LC')
#calc_weighted_avg_retention_rate(df_LC_new,'AMAZON')
#calc_retained_from_previous_month(df_LC_new,'AMAZON')
#calc_avg_retain_first_12_month(df_LC_new,'AMAZON')
#calc_projected_retenion_month(df_LC_new,'AMAZON')
#calc_exp_dur_subs_mnths_LTV_w_wo_revenue(df_LC_new,'AMAZON')
df1=final_output(df_LC_new,'LC')

In [29]:
df_CF_new=add_overall(df_CF,'CF')
#calc_weighted_avg_retention_rate(df_LC_new,'AMAZON')
#calc_retained_from_previous_month(df_LC_new,'AMAZON')
#calc_avg_retain_first_12_month(df_LC_new,'AMAZON')
#calc_projected_retenion_month(df_LC_new,'AMAZON')
#calc_exp_dur_subs_mnths_LTV_w_wo_revenue(df_LC_new,'AMAZON')
df2=final_output(df_CF_new,'CF')

In [38]:
fin_df=df1.append(df2)
till_date = '2021-04-01'
otpt=add_current_date(add_quarter_date(fin_df,till_date))
otpt=otpt.reset_index(drop=True)

/Users/agupt0607/miniconda3/envs/env/lib/python3.5/site-packages/ipykernel_launcher.py:321: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
otpt.to_gbq(destination_table='anit_sandbox.pt_ltv_billing_partner_by_quarter',
            project_id='ltvsubscribers',
            if_exists='replace',
           table_schema=[{'name': 'day_dt', 'type': 'DATE'}])
otpt

,day_dt,billing_partner,plan_type,year_1_amt,year_3_amt,year_5_amt,dw_create_dt
0,2021-04-01,AMAZON,LC,29.0,53.0,63.0,2021-06-29
1,2021-04-01,GOOGLE,LC,16.0,23.0,25.0,2021-06-29
2,2021-04-01,RECURLY,LC,27.0,45.0,55.0,2021-06-29
3,2021-04-01,ROKU,LC,29.0,49.0,58.0,2021-06-29
4,2021-04-01,OVERALL,LC,26.0,44.0,53.0,2021-06-29
5,2021-04-01,AMAZON,CF,30.0,58.0,79.0,2021-06-29
6,2021-04-01,GOOGLE,CF,22.0,34.0,40.0,2021-06-29
7,2021-04-01,RECURLY,CF,34.0,57.0,82.0,2021-06-29
8,2021-04-01,ROKU,CF,30.0,55.0,79.0,2021-06-29
9,2021-04-01,OVERALL,CF,31.0,54.0,75.0,2021-06-29

In [37]:
otpt['day_dt'][0]

0    2021-04-01
0    2021-04-01
Name: day_dt, dtype: object

In [45]:
from google.cloud import bigquery
client = bigquery.Client('ltvsubscribers')

df1=get_data_without_free_trial_bpsp(client)

/Users/agupt0607/miniconda3/envs/env/lib/python3.5/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [47]:
LTV_signup_by_bp_sp_with_out

,subscription_platform,signup_plan,Subs_Retained_1,Subs_Retained_2,Subs_Retained_3,Subs_Retained_4,Subs_Retained_5,Subs_Retained_6,Subs_Retained_7,Subs_Retained_8,...,Subs_Retained_70,Subs_Retained_71,Subs_Retained_72,Subs_Retained_73,Subs_Retained_74,Subs_Retained_75,Subs_Retained_76,Subs_Retained_77,Subs_Retained_78,Subs_Retained_79
0,AMAZON,CF-Monthly,400783,265398,218968,189935,166751,151411,137392,125534,...,0,0,0,0,0,0,0,0,0,0
1,AMAZON,CF-Monthly,504661,500106,474474,460453,445691,438202,427118,414743,...,0,0,0,0,0,0,0,0,0,0
2,AMAZON,LC-Monthly,1370164,965535,799465,699781,621636,565692,515093,470450,...,0,0,0,0,0,0,0,0,0,0
3,AMAZON,LC-Monthly,1689002,1679380,1579558,1536456,1500541,1481114,1450713,1416169,...,0,0,0,0,0,0,0,0,0,0
4,GOOGLE,CF-Monthly,306318,210299,160661,126789,101333,85772,71955,62333,...,0,0,0,0,0,0,0,0,0,0
5,GOOGLE,CF-Monthly,449983,441377,415137,396753,377563,367370,351156,337578,...,0,0,0,0,0,0,0,0,0,0
6,GOOGLE,LC-Monthly,798343,541737,409080,325653,263266,222433,185485,159344,...,0,0,0,0,0,0,0,0,0,0
7,GOOGLE,LC-Monthly,1334510,1323108,1260801,1224471,1185143,1163552,1123316,1087731,...,0,0,0,0,0,0,0,0,0,0
8,RECURLY,CF-Monthly,1954848,1435792,1105322,885192,718393,616971,526077,459743,...,0,0,0,0,0,0,0,0,0,0
9,RECURLY,CF-Monthly,2950380,2914602,2680070,2524657,2371818,2292141,2167398,2042398,...,0,0,0,0,0,0,0,0,0,0
10,RECURLY,LC-Monthly,6087849,4697201,3763917,3135429,2650576,2318738,1992438,1759254,...,33513,25443,21956,18809,16090,13422,10324,7256,3181,0
11,RECURLY,LC-Monthly,8586491,8538224,8045159,7787468,7536769,7391010,7104520,6833670,...,659140,532248,474117,410828,354562,274980,204476,130258,44575,0
12,ROKU,CF-Monthly,562883,418021,327052,264255,213736,184025,157765,137338,...,0,0,0,0,0,0,0,0,0,0
13,ROKU,CF-Monthly,755824,735805,673213,625582,574886,549117,515964,484243,...,0,0,0,0,0,0,0,0,0,0
14,ROKU,LC-Monthly,1724945,1341118,1084845,910779,773417,678582,590413,518736,...,1097,818,472,0,0,0,0,0,0,0
15,ROKU,LC-Monthly,2239201,2203896,2056450,1964225,1875346,1821699,1742761,1662638,...,22896,17006,9743,0,0,0,0,0,0,0
16,SHOWTIME,CF-Monthly,427,327,213,112,84,53,40,26,...,0,0,0,0,0,0,0,0,0,0
17,SHOWTIME,CF-Monthly,602,540,515,490,461,452,433,418,...,0,0,0,0,0,0,0,0,0,0
18,SHOWTIME,LC-Monthly,14174,6993,4528,3316,2768,2260,1846,1516,...,0,0,0,0,0,0,0,0,0,0
19,SHOWTIME,LC-Monthly,17816,17622,16190,15207,15120,14002,12912,11868,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df1

,subscription_platform,signup_plan,Subs_Retained_1,Subs_Retained_2,Subs_Retained_3,Subs_Retained_4,Subs_Retained_5,Subs_Retained_6,Subs_Retained_7,Subs_Retained_8,...,Subs_Retained_70,Subs_Retained_71,Subs_Retained_72,Subs_Retained_73,Subs_Retained_74,Subs_Retained_75,Subs_Retained_76,Subs_Retained_77,Subs_Retained_78,Subs_Retained_79
0,AMAZON,CF-Monthly,400787,265406,218978,189946,166761,151422,137403,125544,...,0,0,0,0,0,0,0,0,0,0
1,AMAZON,CF-Monthly,504660,500105,474473,460452,445690,438201,427117,414742,...,0,0,0,0,0,0,0,0,0,0
2,AMAZON,LC-Monthly,1370172,965551,799482,699799,621660,565717,515114,470471,...,0,0,0,0,0,0,0,0,0,0
3,AMAZON,LC-Monthly,1689002,1679380,1579558,1536456,1500541,1481114,1450713,1416169,...,0,0,0,0,0,0,0,0,0,0
4,GOOGLE,CF-Monthly,306319,210299,160660,126790,101334,85772,71956,62333,...,0,0,0,0,0,0,0,0,0,0
5,GOOGLE,CF-Monthly,449985,441379,415139,396755,377565,367372,351158,337578,...,0,0,0,0,0,0,0,0,0,0
6,GOOGLE,LC-Monthly,798344,541737,409079,325652,263266,222432,185484,159344,...,0,0,0,0,0,0,0,0,0,0
7,GOOGLE,LC-Monthly,1334511,1323109,1260802,1224472,1185144,1163553,1123317,1087731,...,0,0,0,0,0,0,0,0,0,0
8,RECURLY,CF-Monthly,1954848,1435792,1105322,885192,718393,616971,526077,459743,...,0,0,0,0,0,0,0,0,0,0
9,RECURLY,CF-Monthly,2950380,2914602,2680070,2524657,2371818,2292141,2167398,2042398,...,0,0,0,0,0,0,0,0,0,0
10,RECURLY,LC-Monthly,6087849,4697201,3763917,3135429,2650576,2318738,1992438,1759254,...,33025,25443,21956,18809,16090,13422,10324,7256,3181,0
11,RECURLY,LC-Monthly,8586491,8538224,8045159,7787468,7536769,7391010,7104520,6833670,...,659140,532248,474117,410828,354562,274980,204476,130258,44575,0
12,ROKU,CF-Monthly,562884,418022,327053,264256,213737,184026,157766,137339,...,0,0,0,0,0,0,0,0,0,0
13,ROKU,CF-Monthly,755824,735805,673213,625582,574886,549117,515964,484243,...,0,0,0,0,0,0,0,0,0,0
14,ROKU,LC-Monthly,1724945,1341118,1084846,910779,773417,678582,590413,518736,...,1080,818,472,0,0,0,0,0,0,0
15,ROKU,LC-Monthly,2239201,2203896,2056450,1964225,1875346,1821699,1742761,1662638,...,22896,17006,9743,0,0,0,0,0,0,0
16,SHOWTIME,CF-Monthly,427,327,213,112,84,53,40,26,...,0,0,0,0,0,0,0,0,0,0
17,SHOWTIME,CF-Monthly,602,540,515,490,461,452,433,418,...,0,0,0,0,0,0,0,0,0,0
18,SHOWTIME,LC-Monthly,14174,6994,4529,3316,2768,2260,1846,1516,...,0,0,0,0,0,0,0,0,0,0
19,SHOWTIME,LC-Monthly,17816,17622,16190,15207,15120,14002,12912,11868,...,0,0,0,0,0,0,0,0,0,0

In [52]:
LTV_signup_by_bp_sp_with_out.iloc[:, 2:]-df1.iloc[:,2:]

,Subs_Retained_1,Subs_Retained_2,Subs_Retained_3,Subs_Retained_4,Subs_Retained_5,Subs_Retained_6,Subs_Retained_7,Subs_Retained_8,Subs_Retained_9,Subs_Retained_10,...,Subs_Retained_70,Subs_Retained_71,Subs_Retained_72,Subs_Retained_73,Subs_Retained_74,Subs_Retained_75,Subs_Retained_76,Subs_Retained_77,Subs_Retained_78,Subs_Retained_79
0,-4,-8,-10,-11,-10,-11,-11,-10,-9,-10,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,-8,-16,-17,-18,-24,-25,-21,-21,-21,-21,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,0,1,-1,-1,0,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,-2,-2,-2,-2,-2,-2,-2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,-1,0,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,-1,-1,-1,-1,-1,-1,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,488,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,-1,0,0,0,0,0,0,0,...,17,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,-1,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0